.slideshow-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-div {
    /* border: solid 5px yellow; */
}

.img {
    max-width: 500px;
    min-width: 750px;
    max-height: 200px;
    min-height: 350px;
}