.main-container{
  display: flex;
}
.image-container{
  display: flex;
 gap: 20px;
 /* justify-content: center;
 align-items: center; */
}
.image-container div{
  border: 2px solid black;
 
  /* width: 30%; */
  height: 500px;
}
.second-image-box{
  width: 90%;
}
